

@font-face {
    font-family: kra;
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: kraLight;
    src: url('../fonts/static/Oswald-Light.ttf');
}

body {
    background-color: #f6f6f6;
}



/*Nav Bar*/

.navbar {
    height: 80px;
    
    background-color: transparent;
    transition: all 0.5s;
}

.navbar .navbar-toggler {
    float: left;
}

.navbar .navbar-brand {
    padding: 0 0 0 10%;
    width: 50%;

    font-size: 30px;
    color: #FFF;
    font-weight: bolder;
}

.navbar .navbar-brand:hover {
    color: #FFF;
}

.navbar .collapse {
    width: 50%;
}

.navbar .navbar-nav {
    width: 100%;
}

.navbar .navbar-nav li {
    padding: 0 0 0 5%;
}

.navbar .navbar-nav li .nav-link {
    
    font-size: 12px;
    font-weight: bolder;
    color: #FFF;
}

.navbar .navbar-nav li .nav-link:hover {
    
    border-bottom: solid 2px orangered;
    color: #FFF;
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #FFF;
    }

    .navbar .navbar-brand {
        color: black;
        width: 35%;
    }
}

/*End of Nav Bar*/






/*Slider*/

.slider {
    width: 100%;
    height: 697px;
    background-image: url('../img/slider.jpg');
    background-size: cover;
}

.slider .slider-title {
    width: 550px;
    height: 120px;
    position: relative;
    top: 270px;
    left: 30%;
    
    transition: all 0.5s;
    background-color: #FFF;
}

.slider .slider-title h1 {
    padding: 5% 0 0 5%;

    font-size: 52px;
    color: orangered;
}

.slider .slider-caption {
    width: 550px;
    height: 80px;
    position: relative;
    top: 290px;
    left: 30%;

    transition: all 0.5s;
}

.slider .slider-caption h2 {
    text-align: center;

    color: #FFF;
    font-size: 30px;
}

.slider button {
    position: relative;
    top: 320px;
    left: 42%;
    width: 230px;
    height: 50px;

    transition: all 0.5s;
    background-color: transparent;
    color: #FFF;
    font-weight: bolder;
    border: solid 3px #FFF;
}

.slider button:hover {
    background-color: #FFF;
    color: orangered;
}



@media only screen and (max-width: 990px) {

    
}

@media only screen and (max-width: 768px){

    .slider .slider-title {
        width: 450px;
        height: 100px;
        position: relative;
        top: 270px;
        left: 20%;
    }
    
    .slider .slider-title h1 {
        padding: 5% 0 0 5%;
    
        font-size: 42px;
        color: orangered;
    }
    
    .slider .slider-caption {
        width: 450px;
        height: 80px;
        position: relative;
        top: 290px;
        left: 20%;

    }
    
    .slider .slider-caption h2 {
        text-align: center;
    
        color: #FFF;
        font-size: 25px;
    }

    .slider button {
        left: 37%;
    }
}

@media only screen and (max-width: 580px){

    .slider .slider-title {
        width: 450px;
        height: 100px;
        position: relative;
        top: 270px;
        left: 5%;
    }
    
    .slider .slider-title h1 {
        padding: 5% 0 0 5%;
    
        font-size: 42px;
        color: orangered;
    }
    
    .slider .slider-caption {
        width: 450px;
        height: 80px;
        position: relative;
        top: 290px;
        left: 5%;

    }
    
    .slider .slider-caption h2 {
        text-align: center;
    
        color: #FFF;
        font-size: 25px;
    }

    .slider button {
        left: 26%;
    }
}

/*End of Slider*/









/*About Section*/

.about-section {
    width: 100%;
    height: 946px;

    transition: all 0.5s;
}

@media only screen and (max-width: 992px) {
    .about-section {
        height: 860px;
    }
}

@media only screen and (max-width: 992px) {
    .about-section {
        height: 800px;
    }
}

@media only screen and (max-width: 768px) {
    .about-section {
        height: 1330px;
    }
}





.about-section .about-row {
    width: 100%;
    height: 255px;
    
    border-bottom: solid 1px gainsboro;
}

.about-section .about-row .col {
    
}

.about-section .about-row .about-title {
    
    border-right: solid 1px gainsboro;
}

.about-section .about-row .about-title h1 {
    margin: 13% 0 0 25%;

    font-family: kra, sans-serif;
    font-size: 100px;
}

.about-section .about-row .about-discription {

}

.about-section .about-row .about-discription p {
    margin: 18% 0 0 15%;
    font-size: 19px;
}



@media only screen and (max-width: 992px) {

    .about-section .about-row {
        height: 121px;
    }

    .about-section .about-row .about-title h1 {
        margin: 10% 0 0 25%;
        font-size: 60px;
    }

    .about-section .about-row .about-discription p {
        margin: 5% 0 0 15%;
        font-size: 15px;
    }
} 

@media only screen and (max-width: 768px) {

    .about-section .about-row {
        height: 179px;
    }

    .about-section .about-row .about-title {
    
        border-right: none;
    }

    .about-section .about-row .about-title h1 {
        margin: 2% 0 0 32%;
        font-size: 65px;
    }

    .about-section .about-row .about-discription p {
        margin: 2% 0 0 5%;
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px){
    
    .about-section .about-row {
        height: 179px;
    }

    .about-section .about-row .about-title {
        margin-left: 5%;
        border-right: none;
    }

    .about-section .about-row .about-title h1 {
        margin: 5% 0 0 34%;
        font-size: 50px;
    }

    .about-section .about-row .about-discription p {
        margin: 2% 0 0 5%;
        font-size: 15px;
        text-align: center;
    }
}











.about-section .icons-row {
    width: 100%;
    height: 374px;

    border-bottom: solid 1px gainsboro;
}

.about-section .icons-row .col {
    border-right: solid 1px gainsboro;
}

.about-section .icons-row .col:hover {
    background-color: #FFF;
}

.about-section .icons-row .col4 {
    border: none;
}

.about-section .icons-row .col .icon {
    width: 60px;
    height: 60px;
    margin: 25% 0 0 35%;

    border-radius: 100%;
    border: solid 6px orangered;
}

.about-section .icons-row .col h1 {
    margin: 15% 0 0 26%;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-section .icons-row .col p {
    margin: 8% 0 0 7%;
    width: 80%;
    
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}



@media only screen and (max-width: 992px) {

    .about-section .icons-row .col .icon {
        margin-left: 30%;
    }

    .about-section .icons-row .col h1 {
        margin-left: 5%;
        text-align: center;
    }

    .about-section .icons-row .col p {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 768px) {

    .about-section .icons-row {
        border: none;
        height: 930px;
    }

    .about-section .icons-row .col {
        border-bottom: solid 1px gainsboro;
        border-right: none;
        height: 233px;
    }

    .about-section .icons-row .col .icon {
        margin: 5% 0 0 45%;
    }

    .about-section .icons-row .col h1 {
        margin: 7% 0 0 3%;
    }

    .about-section .icons-row .col p {
        margin: 3% 0 0 10%;
    }
}

@media only screen and (max-width: 576px) {

    .about-section .icons-row .col .icon {
        margin-left: 44%;
    }
}










.about-section .last-row {
    width: 100%;
    height: 225px;
}

.about-section .last-row .col {
    width: 100%;
    height: 225px;
}

.about-section .last-row .col h3 {
    text-align: center;
    width: 45%;
    margin: 7% 0 0 25%;

    font-weight: lighter;
    font-size: 30px;
}

.about-section .last-row .col button {
    margin: 3% 0 0 40%;
    height: 42px;
    width: 190px;

    background-color: transparent;
    border: solid 2px black;
    font-family: kra;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}

.about-section .last-row .col button:hover {
    background-color: black;
    color: #FFF;
}



@media only screen and (max-width: 992px) {

    .about-section .last-row .col h3 {
        width: 100%;
        margin: 10% 0 0 2%;
    }

    .about-section .last-row .col button {
        margin: 6% 0 0 37%;
    }
}

@media only screen and (max-width: 768px) {

    .about-section .last-row .col h3 {
        font-size: 26px;
    }

    .about-section .last-row .col button {
        margin: 6% 0 0 33%;
    }
}

@media only screen and (max-width: 576px) {

    .about-section .last-row .col h3 {
        font-size: 22px;
    }

    .about-section .last-row .col button {
        margin: 6% 0 0 30%;
    }
}


/*End of About Section*/













/*Gallery*/

.gallery {
    width: 100%;
    height: 1249px;

    transition: all 0.5s;
    background-color: #FFF;
}

@media only screen and (max-width: 992px) {

    .gallery {
        height: 1149px;
    }
}

@media only screen and (max-width: 768px) {

    .gallery {
        height: 6567px;
    }
}

@media only screen and (max-width: 576px) {

    .gallery {
        height: 4729px;
    }
}



.gallery .catbar {
    width: 100%;
    height: 130px;
}

.gallery .catbar ul {
    width: 100%;
    padding: 4% 0 0 26%;
    float: left;
}

.gallery .catbar ul li {
    padding: 0 0 0 3%;
    display: inline;
}

.gallery .catbar ul li a {
    
    text-decoration: none;
    font-family: kra;
    font-size: 20px;
    color: #b6b6b6;
    transition: all 0.5s;
}

.gallery .catbar ul li a:hover {

    color: black;
}

.gallery .catbar ul li .selected {
    
    color: black;
}



@media only screen and (max-width: 992px) {

    .gallery .catbar ul {
        padding: 5% 0 0 22%;
    }
}

@media only screen and (max-width: 768px) {

    .gallery .catbar ul {
        padding: 8% 0 0 15%;
    }
}

@media only screen and (max-width: 576px) {

    .gallery .catbar {
        height: 100px;
    }

    .gallery .catbar ul {
        padding: 8% 0 0 15%;
    }

    .gallery .catbar ul li a {
        
        font-size: 14px;
    }
}







.gallery .designs {
    width: 100%;
    height: 640px;
    
    transition: all 0.5s;
}

.gallery .designs .row {
    width: 100.9%;
    height: 100%;
    float: left;
}

.gallery .designs .row .col {
    padding: 0;
    overflow: hidden;
}

.gallery .designs .row .col img {
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: all 0.5s;
}

.gallery .designs .row .col img:hover {
    
}



.gallery .designs .row .col h5 {
    position: absolute;
    margin: 20% 0 0 2.5%;
    z-index: -1;

    color: #F96015;
    font-size: 20px;
    font-family: kra;
}

.gallery .designs .row .col h6 {
    position: absolute;
    margin: 22% 0 0 2.5%;
    z-index: -1;

    font-size: 16px;
    font-family: kra;
}

.gallery .designs .row .col:hover > img {
    transform: translateY(-80px);
    opacity: 0.3;
}

.gallery .designs .row .col:hover > h5 {
    z-index: 1;
    transition-delay: 0.3s;
}

.gallery .designs .row .col:hover > h6 {
    z-index: 1;
    transition-delay: 0.3s;
}

@media only screen and (max-width: 992px) {

    .gallery .designs {
        height: 540px;
    }

    .gallery .designs .row .col h5 {
        margin: 22% 0 0 2.5%;
    }

    .gallery .designs .row .col h6 {
        margin: 25% 0 0 2.5%;
    }
}

@media only screen and (max-width: 768px) {

    .gallery .designs {
        height: 5672px;
    }

    .gallery .designs .row .col h5 {
        margin: 92% 0 0 2.5%;
    }

    .gallery .designs .row .col h6 {
        margin: 96% 0 0 2.5%;
    }
}

@media only screen and (max-width: 576px) {

    .gallery .designs {
        height: 3864px;
    }

    .gallery .designs .row .col h5 {
        margin: 84% 0 0 2.5%;
    }

    .gallery .designs .row .col h6 {
        margin: 91% 0 0 2.5%;
    }
}










.gallery .info {
    width: 100%;
    height: 479px;

    background-color: #f96015;
}

.gallery .info .row {
    
}

.gallery .info .row .col {
    margin: 6% 0 0 0;
}

.gallery .info .row .col h1 {

    font-family: kra;
    font-weight: bolder;
}

.gallery .info .row .col h2 {

    font-family: kraLight;
    font-size: 35px;
    color: #FFF;
}

.gallery .info .row .col .line {
    margin: 7% 0 0 0;
    width: 52px;
    height: 5px;

    border-top: double 4px black;
}

.gallery .info .row .col p {
    margin: 7% 0 0 0;
    width: 70%;

    font-size: 13px;
    color: #FFF;
}

.gallery .info .row .col button {
    margin: 10% 0 0 0;
    width: 86px;
    height: 32px;

    background-color: transparent;
    font-size: 11px;
    font-family: kra;
    letter-spacing: 1px;
    border: solid 2px black;
    transition: all 0.5s;
}

.gallery .info .row .col button:hover {

    background-color: black;
    color: #FFF;
}



@media only screen and (max-width: 768px) {

    .gallery .info {
        height: 725px;
    }

    .gallery .info .row .col h1 {
        font-size: 35px;
        text-align: center;
    }

    .gallery .info .row .col h2 {
        font-size: 25px;
        text-align: center;
    }

    .gallery .info .row .col .line {
        margin: 2% 0 0 45%;
    }

    .gallery .info .row .col p {
        margin: 2% 0 0 0;
        text-align: center;
        width: 100%;
    }

    .gallery .info .row .col button {
        margin: 4% 0 0 42%;
    }
}

@media only screen and (max-width: 768px) {

    .gallery .info {
        height: 765px;
    }
}


/*End of Gallery*/












/*Testimonial*/

.testimonial {
    height: 656px;
    width: 100%;

    background-image: url('../img/testimonial.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 100px 100px 500px black inset, 
                -100px -100px 500px black inset;
}

.testimonial h1 {
    padding: 15% 0 0 0;
    text-align: center;

    color: #FFF;
    font-size: 65px;
    font-family: kra;
}

.testimonial p {
    margin: 5% 0 0 30%;
    text-align: center;
    width: 40%;

    color: #FFF;
    font-size: 22px;
    line-height: 27px;
    font-weight: lighter;
}

.testimonial hr {
    color: #FFF;
    height: 5px;
    width: 50px;
    margin: 2% 0 0 48%;
}

.testimonial h6 {
    margin: 2% 0 0 44%;

    color: #FFF;
    font-size: 16px;
}



@media only screen and (max-width: 992px) {

    .testimonial h6 {
        margin: 2% 0 0 42%;
    }
}

@media only screen and (max-width: 768px) {

    .testimonial {
        height: 366px;
        background-attachment: scroll;
    }

    .testimonial h1 {
        padding: 5% 0 0 0;
    }

    .testimonial p {
        width: 100%;
        margin: 5% 0 0 0;
        font-size: 18px;
    }

    .testimonial hr {
        margin: 4% 0 0 46%;
    }

    .testimonial h6 {
        margin: 6% 0 0 38%;
    }
}

@media only screen and (max-width: 768px) {

    .testimonial hr {
        margin: 4% 0 0 44%;
    }

    .testimonial h6 {
        margin: 6% 0 0 34%;
    }
}


/*End of Testimonial*/













/*Expertise*/
/*The expertise section row has its style from the about section row*/



.expertise {
    width: 100%;
    height: 897px;

    transition: all 0.5s;
    background-color: #FFF;
}

@media only screen and (max-width: 992px) {
    .expertise {
        height: 751px;
    }
}

@media only screen and (max-width: 768px) {
    .expertise {
        height: 792px;
    }
}

@media only screen and (max-width: 576px) {
    .expertise {
        height: 769px;
    }
}





.expertise .about-row {
    width: 100%;
    height: 255px;
    
    border-bottom: solid 1px gainsboro;
}

.expertise .about-row .col {
    
}

.expertise .about-row .about-title {
    
    border-right: solid 1px gainsboro;
}

.expertise .about-row .about-title h1 {
    margin: 13% 0 0 25%;

    font-family: kra, sans-serif;
    font-size: 100px;
}

.expertise .about-row .about-discription {

}

.expertise .about-row .about-discription p {
    margin: 18% 0 0 15%;
    font-size: 19px;
}



@media only screen and (max-width: 992px) {

    .expertise .about-row {
        height: 121px;
    }

    .expertise .about-row .about-title h1 {
        margin: 10% 0 0 25%;
        font-size: 60px;
    }

    .expertise .about-row .about-discription p {
        margin: 5% 0 0 15%;
        font-size: 15px;
    }
} 

@media only screen and (max-width: 768px) {

    .expertise .about-row {
        height: 179px;
    }

    .expertise .about-row .about-title {
    
        border-right: none;
    }

    .expertise .about-row .about-title h1 {
        margin: 2% 0 0 32%;
        font-size: 65px;
    }

    .expertise .about-row .about-discription p {
        margin: 2% 0 0 5%;
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px){
    
    .expertise .about-row {
        height: 179px;
    }

    .expertise .about-row .about-title {
        margin-left: 5%;
        border-right: none;
    }

    .expertise .about-row .about-title h1 {
        margin: 5% 0 0 34%;
        font-size: 50px;
    }

    .expertise .about-row .about-discription p {
        margin: 2% 0 0 5%;
        font-size: 15px;
        text-align: center;
    }
}








.expertise .expertise-icons {
    width: 100%;
    height: 180px;
    margin: 5% 0 0 0;
}

.expertise .expertise-icons .col {
    margin: 3% 0 0 3%;
    width: 45%;
    float: left;
}

.expertise .expertise-icons .col .icon {
    width: 60px;
    height: 60px;
    margin: 0% 0 0 0%;
    position: absolute;

    border-radius: 100%;
    border: solid 6px orangered;
}

.expertise .expertise-icons .about-title {
    
    
}

.expertise .expertise-icons .about-title h4 {
    margin: 2% 0 0 15%;
    position: relative;

    font-family: kraLight, sans-serif;
}

.expertise .expertise-icons .about-title h4 span {
    
    font-family: kra, sans-serif;
}

.expertise .expertise-icons .about-discription {

}

.expertise .expertise-icons  p {
    margin: 2% 0 0 15%;
    font-size: 13px;
    width: 340px;
}


@media only screen and (max-width: 992px) {

    .expertise .expertise-icons {
        height: 342px;
    }

    .expertise .expertise-icons .col {
        width: 46%;
        margin: 10% 0 0 0%;
    }

    

    .expertise .expertise-icons .about-title h4 {
        position: relative;
        margin: 28% 0 0 0%;
        font-size: 20px;
    }

    .expertise .expertise-icons p {
        margin: 5% 0 0 0%;
        font-size: 15px;
        font-size: 13px;
        width: 218px;
    }
} 

@media only screen and (max-width: 768px) {

    .expertise .expertise-icons {
        height: 400px;
    }

    .expertise .expertise-icons .col {
        width: 100%;
        margin: 0% 0 0 0%;
    }

    .expertise .expertise-icons .col .icon {
        position: relative;
        margin: 0 0 0 42%;
    }

    .expertise .expertise-icons .about-title h4 {
        position: relative;
        margin: 7% 0 0 0%;
        font-size: 20px;
        text-align: center;
    }

    .expertise .expertise-icons p {
        margin: 5% 0 0 0%;
        font-size: 15px;
        font-size: 13px;
        width: 100%;

        text-align: center;
    }
}

@media only screen and (max-width: 576px){
    
    .expertise .expertise-icons {
        height: 400px;
    }

    .expertise .expertise-icons .col {
        width: 100%;
        margin: 0% 0 0 0%;
    }

    .expertise .expertise-icons .col .icon {
        position: relative;
        margin: 0 0 0 42%;
    }

    .expertise .expertise-icons .about-title h4 {
        position: relative;
        margin: 7% 0 0 0%;
        font-size: 20px;
        text-align: center;
    }

    .expertise .expertise-icons p {
        margin: 5% 0 0 0%;
        font-size: 15px;
        font-size: 13px;
        

        text-align: center;
    }
}






.expertise .expertise-img {

    
}

.expertise .expertise-img img {

    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 992px) {

    .expertise .expertise-img img {
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 576px) {
    
}




.space {
    height: 1000px;
    width: 100%;
}









